# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Local development settings
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code settings
.vscode/

# Cache
.cache/

# Streamlit artifacts
.streamlit/secrets.toml 